@{
    ViewBag.Title = "LNO";
}

<div class="jumbotron">
    <h1>LNO Sivut</h1>
    <p class="lead">ASP.NET MVC5 oppimisprojekti</p>
    <p><a href="http://lno.tarjoaa.fi" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
